body {
	font-family: Barlow Semi Condensed;
	font-size: 13px;
	font-weight: 500;
	background-color: rgb(202, 202, 202);
}

.fundamental {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	height: 700px;
	width: 1200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"daniel daniel jonathan kira"
		"jeanette patrick patrick kira";
	grid-gap: 30px;
}

@media screen and (max-width: 375px) {
	section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 1fr 2fr 1fr;
		grid-template-areas:
			"daniel"
			"daniel"
			"jonathan"
			"jeanette"
			"patrick"
			"patrick"
			"kira";
		grid-gap: 30px;
	}
	/*was heavy to find out. but right?: */
	.daniel-clifford,
	.jonathan-walters,
	.kira-whittle,
	.jeanette-harmon,
	.patrick-abrams {
		height: max-content;
	}
	/*---------------------------------*/
}

h2 {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0;
}

h3 {
	font-size: 12px;
	opacity: 0.5;
	margin-top: 0;
}

h4 {
	font-size: 22px;
	font-weight: 600;
}

p {
	line-height: 150%;
	opacity: 0.7;
}

.daniel-clifford,
.jonathan-walters,
.kira-whittle,
.jeanette-harmon,
.patrick-abrams {
	border-radius: 15px;
	padding: 30px;
}

.daniel-clifford {
	background-image: url("images/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-size: 100px 120px;
	background-position-x: 83%;
	background-color: hsl(263, 55%, 52%);
	grid-area: daniel;
	color: white;
}

.image-daniel,
.image-jonathan,
.image-jeanette,
.image-patrick,
.image-kira {
	border-radius: 50%;
	position: absolute;
	margin-top: 10px;
	width: 40px;
	/*personal input:*/
	border: 5px solid hsl(263, 82%, 62%);
	/*---------------------------------*/
}

.daniel-clifford-top,
.jonathan-walters-top,
.jeanette-harmon-top,
.patrick-abrams-top,
.kira-whittle-top {
	position: relative;
	margin-top: 20px;
	margin-left: 70px;
}

.daniel-clifford-mid {
	text-align: justify;
}

.daniel-clifford-end {
	font-size: 12px;
}

.jonathan-walters {
	background-color: hsl(217, 19%, 35%);
	grid-area: jonathan;
	color: white;
}

.kira-whittle {
	background-color: hsl(0, 0%, 100%);
	grid-area: kira;
}

.jeanette-harmon {
	background-color: hsl(0, 0%, 100%);
	grid-area: jeanette;
}

.patrick-abrams {
	background-color: hsl(219, 29%, 14%);
	grid-area: patrick;
	color: white;
}
